*{
    padding: 0px;
    margin:0px;   
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
   background-color: #ffffea;
   
   
   background-position: center;
   height: 100vh;
   
}
.navbar{
   background-color: #eaeaea;
   padding: 10px;
   margin: 10px;
}
nav ul{
   display: flex;
   list-style: none;
   justify-content: space-around;
}

.navbar a{
   text-decoration: none;
   color: #0db2e9;
   font-weight: lighter;
   padding: 8px 12px;
   font-family: 'Roboto', sans-serif;
}
.navbar a:hover{
   background-color: rgb(105, 105, 228);
   padding: 10px;
   margin: 10px;
   border-radius: 20px;
}
h1{
   color: #2bafaf;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   font-size: 1.2em;

   
}

h2{
   text-align: center;
   font-size: 1.5em;
   margin-bottom: 20px;
   font-family: 'Roboto', sans-serif;
   color: #07b0e9;
}  
h3{
   font-size: 24px;
   margin-bottom: 20px;
   font-family: cursive;
   color: #183e4b;
   
}
   p{
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      color: #0a2d2e;
      font-size: large;
   }
     main{
      text-align: center;
      padding: 20px;  
     }
   
  
    .main img{
      width: 10px;
      margin: 10px;
      border-radius: 50%;
    }
   footer{
      align-items: center;
      margin-top: 30px;

   }
   .center-logo{
      display: block;
      margin-right: auto;
      margin-left: auto;
      border-radius: 50%;
   }
  
 
  .product{
    display: inline-block;
    height: auto;
    flex-wrap: wrap;
    width: 30%;
    overflow: auto;
  }
 .product img{
   border-radius: 50%;
   
 }
 .product img:hover{
   transform: scale(0.9);
   transition: 0.3s;
   cursor: pointer;
 }





